<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--External Sql ServerName and DBName and UserName and Password-->
		<add key="ExternalServerName" value="DESKTOP-FSJQ8UA" />
		<add key="ExternalDBName" value="Focus80B0" />
		<add key="ExternalUserName" value="sa" />
		<add key="ExternalPassword" value="sa123" />
		<!--Minimun 10 Minutes and Minutes format only-->
		<add key="Interval" value="01" />
		<!--Focus Sql ServerName and DBName and UserName and Password-->
		<add key="CompanyCode" value="0B0" />
		<!--Focus UserName and Password-->
		<add key="UserName" value="su" />
		<add key="Password" value="su" />
		<add key="Focus8exePath" value="C:\Program Files (x86)\Focus Softnet\Focus8" />
		<add key="Server_API_IP" value="http://localhost/focus8API" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICompanyService" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/Focus8Library/CompanyService.svc/WSHttpCompany"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICompanyService"
                contract="ServiceReference1.ICompanyService" name="WSHttpBinding_ICompanyService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>